body {
  width: 80%;
  margin: 0 auto;
  background-color: black;
  color: white;
}
p {
  font-size: 20px;
}
h1 {
  font-size: 50px;
}
.header {
  display: flex;
  background-color: #9b0000;
  align-items: center;
}
.header img {
  border-radius: 30px;
}
.name {
  margin-left: 100px;
}
main {
  color: black;
  background-color: white;
  padding: 20px;
}
.contacts__item {
  display: flex;
  align-items: center;
}
footer {
  background-color: #9b0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

footer img {
  width: 30%;

  border-radius: 30%;
}
